<div class="w-full max-h-screen relative"> <!-- Adjust 64px to your navbar height -->
    <img src="assets/images/banner/hero-desk.webp" alt="hero image skinior" class="h-screen w-screen  object-cover custom-object-position ">

    <div class="absolute inset-0 flex flex-col justify-center text-white px-4">
        <div class="w-full md:w-1/4 md:mr-16">
            <div class="text-center mt-32">
                <h1 style="font-size: 1.5rem; line-height: 2; font-weight: bold;">
                    تسوقي أجمل منتجات التجميل وأحدث صيحات العناية بالبشرة من متجرنا الإلكتروني!
                    اجعلي روتينك اليومي أكثر إشراقًا وتألقًا لأن الجمال يبدأ هنا!
                </h1>
                <button class="px-6 py-2 mt-4 border border-white hover:border-opacity-75 text-white rounded-md text-lg">
                    اكتشف المزيد
                </button>
                
            </div>
        </div>
    </div>
</div>