<div class="container mx-auto px-4 md:px-6 lg:px-10 my-12 relative ">
    <h2 class="text-2xl md:text-3xl font-extrabold text-right mb-12 tracking-wide text-gray-800">
        المنتجات المميزة
    </h2>

    <!-- Scrollable Section -->
    <div class="overflow-x-auto scroll-smooth scrollbar-hide">
        <div class="flex gap-8 px-4">

            <!-- Product Card -->
            <div *ngFor="let product of featuredProducts" class="bg-white rounded-3xl shadow-lg min-w-[300px] max-w-[300px] 
                    hover:shadow-2xl transition-transform transform 
                    hover:scale-105 duration-500 snap-center overflow-hidden flex-shrink-0 mb-5">

                <!-- Image Wrapper -->
                <div class="w-72 h-72 bg-gray-100 flex items-center justify-center overflow-hidden">
                    <img [src]="product.images[0].url" alt="{{ product.images[0].altText }}"
                        class="max-w-full max-h-full object-contain">
                </div>

                <!-- Text and Button Section -->
                <div class="p-4 space-y-2 " dir="ltr">
                    <p class="text-center text-sm font-medium text-gray-800 truncate">
                        {{ product.name }}
                    </p>
                    <p class="text-center text-gray-500 text-xs">{{ product.price | currency:'USD' }}</p>
                    <a [routerLink]="['/shop/product', product.id]" class="block bg-teal-700 hover:bg-teal-900 text-white text-center py-2 
                      rounded-full transition duration-300 text-sm">
                        View Product
                    </a>
                </div>

            </div>
            <!-- End of Product Card -->

        </div>
    </div>
</div>