<div class="container mx-auto px-4 md:px-6 lg:px-10 my-12 relative">
    <h6 class=" font-extrabold text-right mb-12 tracking-wide text-gray-800">
        {{ title }}
    </h6>
    <div class="overflow-x-auto scroll-smooth px-4 py-2">
        <div class="flex gap-4">
            <a *ngFor="let product of products" [routerLink]="['/shop/product', product.id]" class="bg-white rounded-xl shadow-md min-w-[200px] max-w-[200px] md:min-w-[250px] md:max-w-[250px] 
                    hover:shadow-lg transition-transform hover:scale-105 duration-300 
                    snap-center overflow-hidden flex-shrink-0 mb-4 block">
                <!-- Product Image -->
                <div class="w-full h-[180px] md:h-[200px] bg-white flex items-center justify-center">
                    <img [src]="product.image" alt="{{ product.name }}" class="max-w-full max-h-full object-contain">
                </div>

                <!-- Product Details -->
                <div class="p-3 space-y-1 text-center" dir="ltr">
                    <!-- Product Name -->
                    <p class="text-xs md:text-sm font-medium text-gray-800 leading-snug product-name h-[40px] md:h-[48px]">
                        {{ product.name }}
                    </p>
                    <!-- Prices Section -->
                    <div class="flex justify-center items-center gap-2 text-sm">
                        <!-- Original Price -->
                        <p *ngIf="product.discountedPrice && product.price > product.discountedPrice"
                            class="text-gray-400 line-through text-xs">
                            {{ product.price | currency: 'JOD' }}
                        </p>

                        <!-- Discounted Price -->
                        <p class="text-gray-600 font-semibold">
                            {{ product.discountedPrice || product.price | currency: 'JOD' }}
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>


</div>