<div class="w-full relative">
    <picture>
        <source media="(max-width: 768px)" [srcset]="highlight.imagemob">
        <img [src]="highlight.image" [alt]="highlight.altimage"
            class="w-full h-full object-cover object-right">
    </picture>

    <div class="absolute hidden inset-0 md:flex flex-col mt-32 items-start px-4">
        <div class="w-full md:w-1/3  text-center">
            <p class="text-white text-xl md:text-2xl leading-relaxed  ">
                {{ highlight.description }}
            </p>
          
        </div>
    </div>
</div>

<div class="container mx-auto px-4 md:px-6 lg:px-10 my-12">
    <h2 class="text-3xl md:text-4xl font-extrabold text-center mb-12 text-gray-800 tracking-wide">
        منتجات Ecodenta
    </h2>
    <p class="text-neutral-500 text-xl md:text-2xl leading-relaxed md:hidden ">
        {{ highlight.description }}
    </p>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
    </div>
</div>
