@import 'quill/dist/quill.snow.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'Tajawal', sans-serif !important;
    height: 100%;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Tajawal', sans-serif !important;
}

.flex-grow {
    min-height: 200px;
}


.engfont{
    
    font-family: 'Raleway', sans-serif !important;

}