<!-- src/app/components/navbar/navbar.component.html -->

<nav class="bg-white shadow-md" aria-label="Main navigation">
    <div class="container mx-auto flex items-center justify-between py-4 px-4 md:px-6">
        <!-- Logo -->
        <a routerLink="/" class="flex-shrink-0" aria-label="Home">
            <img class="h-10 md:h-14" src={{mainLogo}} alt="skinior Logo" />
        </a>

        {{ totalQuantity() }}


        <!-- Desktop Menu -->
        <div class="hidden md:flex justify-center flex-1">
            <ul class="flex space-x-reverse space-x-8 text-center">
                <!-- Dynamic Navigation Links -->
                <li *ngFor="let link of navigationLinks">
                    <a class="text-gray-800 hover:text-blue-600 py-2 font-medium transition duration-200 ease-in-out"
                        [attr.lang]="link.lang" [routerLink]="link.routerLink" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: link.id === 0 }">
                        {{ link.name }}
                    </a>
                </li>
            </ul>

        </div>

        <!-- Icons -->
        <div class="flex items-center space-x-4 md:space-x-6">
            <!-- Cart Icon (Visible on all devices) -->
            <div class="relative">
                <a routerLink="/cart" aria-label="Cart" class="relative text-gray-800 hover:text-blue-600">
                    <i class="bx bx-cart bx-sm"></i>
                    <span *ngIf="totalQuantity() > 0"
                        class="absolute -top-2 -right-2 bg-red-500 text-white rounded-full text-xs w-5 h-5 flex items-center justify-center">
                        {{ totalQuantity() }}
                    </span>
                </a>
            </div>

            <!-- Mobile Menu Icon -->
            <button class="md:hidden text-gray-800 hover:text-blue-600" (click)="toggleMenu()" aria-label="Toggle Menu"
                [attr.aria-expanded]="isMenuOpen">
                <i class="bx bx-menu bx-sm"></i>
            </button>
        </div>
    </div>

    <!-- Mobile Dropdown Menu -->
    <div [ngClass]="{ hidden: !isMenuOpen }" class="md:hidden bg-white shadow-lg">
        <ul class="flex flex-col text-center divide-y divide-gray-200">
            <!-- Home -->
            <li>
                <a class="text-gray-800 hover:text-blue-600 py-3 font-medium transition duration-200 ease-in-out"
                    lang="ar" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    الرئيسية
                </a>
            </li>
            <li *ngFor="let link of navigationLinks">
                <a class="text-gray-800 hover:text-blue-600 py-2 font-medium transition duration-200 ease-in-out"
                    [attr.lang]="link.lang" [routerLink]="link.routerLink" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: link.id === 0 }">
                    {{ link.name }}
                </a>
            </li>

        </ul>
    </div>
</nav>